/.idea
/info.txt

# yii console command
/yii

# phpstorm project files
.idea

#bower
.bowerrc

# enviroment
.env

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/src/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
/bin/yii
/web/acp.php
/web/index.php
/html/node_modules
